
#chat-screen {
    background-color: #abc1d1;
    height: 100vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}

#chat-screen .status-bar {
    z-index: 2;
}

#chat-screen .alt-header {
    top: 20px;
    z-index: 10;
}

.main-chat {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    display: flex;
    
}

@keyframes chatHi {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.chat-timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 8px;
    border-radius: 15px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 25px;
    animation: chatHi 0.8s ease-in-out;
}

@keyframes chatHiReverse {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.message-row:last-child {
    animation: chatHiReverse 3s ease-in-out;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.message_author {
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
}

.message-bubble {
    background-color: white;
    padding: 8px 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message-info {
    display: flex;
    align-items: flex-end;
}

.message-time {
    opacity: 0.8;
    font-size: 13px;
}

.message-row-own {
    justify-content: flex-end;
    
}

.message-row-own .message-bubble {
    background-color: var(--yellow);
    border-radius: 15px;
    border-top-right-radius: 0px;
    margin-left: 5px;
}

.message-row-own .message-info {
    display: flex;
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 5px 25px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

.reply .reply-column:first-child {
    width: 10%;
}

.reply .reply-column:last-child {
    position: relative;
    width: 90%;
}

.reply-column:last-child > i, .reply-column:last-child button {
    position: absolute;
    right: -3px;
    top: 6px ;
}

.reply-column:last-child > i {
    right: 40px;
    top: 20px;
}

.reply input {
    padding: 15px;
    width: 98%;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.reply-column button {
    background-color: var(--yellow);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.reply-column button:focus, .reply-column button:active {
    outline: none;
}

.reply i {
    opacity: 0.5;
}

.reply-column button i {
    opacity: 1;
}


.reply:focus-within .reply-column:first-child{
    opacity: 0;
    visibility: hidden;
}

.reply:focus-within .fa-face-smile, .reply:focus-within button{
    opacity: 0;
}


.reply:focus-within input{
    width: 92vw;
    transform: translateX(-11%) translateY(-80px);
}

.reply:focus-within {

    transform: translateY(80px);
}