#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 15px 0px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -15px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.2);
    
}

.friends-screen {
    padding: 0px var(--horizontal-space);
}


.friends-screen-channel {
    margin-top: 25px;
    border-top: 1px solid rgba(190, 140, 140, 0.2);
    padding-top: 15px;
    }
    
    .friends-screen-chaanel-header {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        color: white;
    }

    @keyframes splashani {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            visibility: hidden;
        }
    }


   #splash-screen {
        width: 100vw;
        height: 100vh;
        position: absolute;     
        top: 0;
         background-image: url("https://i.pinimg.com/originals/1d/c3/c4/1dc3c469064035cb2fcf2c7c93ba282c.png"); 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
            animation: splashani 0.6s ease-in-out forwards;
            color: white;
        animation-delay: 1.6s;
    } 

    