.more-screen .icon-row{
    margin-top: 35px;
}

.more-suggestion {
    margin-top: 40px;
    border-top: var(--main-border);
    padding-top: 40px;
}

.more-suggestion-title {
    margin-bottom: 30px;
}

.more-suggestion-icons {
    display: flex;
}

.more-suggestion-icon {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-suggestion-img {
    width: 60px;
    height: 60px;
    background-color: var(--yellow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.more-suggestion-img i {
    font-size: 25px;
    color: white;
}
