/* 네비게이션바 아래로 고정되게 조정 */
.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(0,0,0,0.2);
    position: fixed;
    bottom: 0;
    width:100%;
    box-sizing: border-box;
}

.nav_list {
    display: flex;
    justify-content: space-between;
}

.nav_link {
    color: #2e363e;
    position: relative;
}

.nav_btn {
    transform: translateY(80px);
    opacity: 0;
    animation: appearBtn 0.6s ease-in-out forwards;
}

@keyframes appearBtn {
    from {
        
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.nav_btn:nth-child(2) {
    animation-delay: 0.3s;
}

.nav_btn:nth-child(3) {
    animation-delay: 0.6s;
}


.nav_btn:last-child{
    animation-delay: 0.9s;
}


.nav_notification {

    position: absolute;
    left: 23px;
    bottom:17px;
    animation: notificationAni 3s ease-in-out infinite;
}

@keyframes notificationAni {
    0% {
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(360deg);
    }
    100% {
        transform: none;
    }
}

.nav_dot {
    background-color: tomato;
   border-radius: 15px;
    width: 5px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
}

.nav_dot1 {
    background-color: tomato;
    border-radius: 15px;
     width: 5px;
     height: 5px;
     justify-content: center;
     align-items: center;
     position: absolute;
     bottom: 35px;
     right: -5px;
}