@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "rest.css";
@import "variables.css";
@import "status-bar.css";
@import "welcome-header.css";
@import "login-form.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "friends.css";
@import "user-component.css";
@import "badge.css";
@import "find.css";
@import "more.css";
@import "icon-row.css";
@import "alt-screen-header.css";
@import "settings.css";
@import "chat.css";
@import "no-mobile.css";


body {
    color: white;
    background-color: #27312d;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.main-screen {
    padding: 0px var(--horizontal-space);
}

