.user-component {
    justify-content: space-between;
}

.user-component,
.user-component-column:first-child {
    display: flex;
    align-items: center;
}

.user-component-avatar {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    margin-right: 20px;
    /* 사진 크기를 줄일 때 가로 세로 비율 똑같이 */
    object-fit: cover;
}

.user-component-title {
    font-weight: 600;
    font-size: 22px;
}

.user-component-subtitle {
    margin-top:8px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
}

.user-component-avatar-xl {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    margin-right: 20px;
    /* 사진 크기를 줄일 때 가로 세로 비율 똑같이 */
    object-fit: cover;
}


.user-component-column:last-child {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: end;
}

.user-component-avatar user-component-avatar-sm {
    width: 70px;
    height: 70px;
    border-radius: 25px;
}

.user-component-title-not-bold {
    font-weight: 400;
}

.user-component-time {
    display: block;
    margin-bottom: 10px ;

}